nav.admin-nav{
  width: -moz-calc(100% + 1em);
  width: -webkit-calc(100% + 1em);
  width: calc(100% + 1em);
  margin:0 0 0 -.5em;
  position:relative;
  height:auto;
}

.admin-nav{
  width:100%;
  text-align:center;
}
.admin-nav ul{
  width:100%;
  background:#cccc99;
}
.admin-nav ul li{
  display:inline-block;
}
  .admin-nav ul li a{
    padding:0 1em;
    line-height: 34px;
    font-family:'MarketDeco';
    font-weight:100;
    display:block;
    text-align:center;
    font-size:16px;
    letter-spacing: 2.5px;
  }
  .admin-nav ul li a:hover,
  .admin-nav ul li a.active{
    -webkit-transition:200ms ease-in-out color;
    transition:200ms ease-in-out color;
    color:white;
  }
  .admin-nav ul li:first-child a{
    padding-left:2em;
  }
  .admin-nav ul li:last-child a{
    padding-right:2em;
  }

  .admin-nav ul.sub-menu{
    z-index:10;
    position:absolute;
    width:100%;
  }
  .admin-nav ul.sub-menu > div.sub-menu-container{
    background:#727152;
    width:100%;
  }

/* transitions */
ul.sub-menu div.ng-enter{
  -webkit-transition:200ms ease-in-out all;
  transition:200ms ease-in-out all;
  -webkit-transition-delay:200ms;
  transition-delay:200ms;
}

ul.sub-menu div.ng-leave{
  -webkit-transition:200ms ease-in-out all;
  transition:200ms ease-in-out all;
}

ul.sub-menu div.ng-enter,
ul.sub-menu div.ng-leave.ng-leave-active{
  height:0;
}
  ul.sub-menu div.ng-enter a,
  ul.sub-menu div.ng-leave.ng-leave-active a{
    opacity:1;
  }

ul.sub-menu div.ng-leave,
ul.sub-menu div.ng-enter.ng-enter-active{
  height:34px;
}
  ul.sub-menu div.ng-leave a,
  ul.sub-menu div.ng-enter.ng-enter-active a{
    opacity:0;
  }
