/* layout */

main.admin{
  padding:1em;}

.admin section{
  padding:2em 0;}

.admin div.divider{
  width: -moz-calc(100% + 4em);
  width: -webkit-calc(100% + 4em);
  width: calc(100% + 4em);
  margin:0 0 0 -2em;
  position:relative;
  height:auto;}

.admin p.divider{
  text-align:center;
  padding:2em 0;}

.admin .instructions p{
  font-size:.95em;
  padding:.5em 0;}

/* header style */

.admin h2, h3, h4{
  font-family: 'MarketDeco';
  text-align: left;}

.admin h3{
  padding:0 0 0.5em 0;}

  .admin h3 span{
    font-weight:400;}

.admin h4{
  margin:0;
  padding:0.5em 0;}

  .admin h4.item-form{
    /*padding-top:4em;*/
  }

/* form style */

.admin label{
  display:block;
  padding: .4em 0;
  font-size:.95em;
  color: #333426;}

.admin input[type="text"],
.admin textarea {
  border:1px solid #c9c695;
  background-color: transparent;
  color:#111;
  line-height:1.25em;
  padding:.25em;
  font-size:1em;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight:normal;
  width:100%;
  box-sizing:border-box;}

.admin input[type="submit"],
.admin button{
  border:none;
  background-color: #c9c695;
  color:#222;
  line-height:1.25em;
  padding:0.4em 1em;
  margin: 0.4em .2em 0 0;
  font-size:0.8em;
  text-transform: uppercase;
  font-family: 'MarketDeco';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight:normal;
}

.admin input[type="submit"]:hover,
.admin button:hover{
  transition:all 200ms ease-in;
  background-color:#b2af84;}

  .admin button.check-box{
    background-color:transparent;
    padding:0.4em 0;
    margin: 0;
    width:1.2em;
    height:1.65em;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center;}

.admin a.check-box{
  color: #222;
  display:block;
  height:1.65em;
  text-indent:2em;
  margin:.25em 0;
  line-height: 1.8em;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:top left;}

  .check-box.enabled{
    background-image: url(/images/checkbox-enabled.png);  }

  .check-box.disabled{
    background-image: url(/images/checkbox-disabled.png);  }

.admin a.dark{
  font-size:0.8em;
  text-transform: uppercase;
  font-family: 'MarketDeco';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight:normal;
  color:#727152;}

/*  .admin a.dark:hover{
    color:#000;}*/

    .admin a.dark.active {
      color:#000;}

.admin ul.section-headings li{
  margin:0 1em;
}

.admin ul.item-actions{
  text-align: left;}

.admin ul.item-actions li{
  display:inline-block;}

  .admin ul.item-actions li:last-child button{
    margin-right:0;}

.admin ul.subsection-handles {
  margin-top:1em;}

.admin ul.subsection-handles li a {
  padding: .25em;}




