nav.dtosaua{
  width: -moz-calc(100% + 1em);
  width: -webkit-calc(100% + 1em);
  width: calc(100% + 1em);
  margin:0 0 0 -.5em;
  position:relative;
  height:auto;
}

#dtosaua-nav{
  width:100%;
  text-align:center;
}
#dtosaua-nav ul{
  width:100%;
  background:#cccc99;
}
#dtosaua-nav ul li{
  display:inline-block;
}
  #dtosaua-nav ul li a{
    padding:0 1em;
    line-height: 34px;
    font-family:'MarketDeco';
    font-weight:100;
    display:block;
    text-align:center;
    font-size:16px;
    letter-spacing: 2.5px;
  }
  #dtosaua-nav ul li a:hover{
    color:white;
  }
  #dtosaua-nav ul li:first-child a{
    padding-left:2em;
  }
  #dtosaua-nav ul li:last-child a{
    padding-right:2em;
  }

  #dtosaua-nav ul.sub-menu{
    z-index:10;
    position:absolute;
    width:100%;
  }
  #dtosaua-nav ul.sub-menu > div.sub-menu-container{
    background:#727152;
    width:100%;
  }


ul.sub-menu div.ng-enter{
  -webkit-transition:200ms ease-in-out all;
  transition:200ms ease-in-out all;
}

ul.sub-menu div.ng-enter,
ul.sub-menu div.ng-leave.ng-leave-active{
  height:0px;
}

ul.sub-menu div.ng-leave,
ul.sub-menu div.ng-enter.ng-enter-active{
  height:34px;
}

ul.sub-menu a.ng-enter,
ul.sub-menu a.ng-leave.ng-leave-active{
  opacity:0;
}
ul.sub-menu a.ng-leave,
ul.sub-menu a.ng-enter.ng-enter-active{
  opacity:1;
}