main.dtosaua div#main-wrapper{
  width:100%;
  margin:0 auto;
  box-sizing:border-box;
  border:0;
  border-left:.5em solid black;
  border-right:.5em solid black;
  padding:1em;
  min-height:300px;
}