// Define global colors:

$linen: #f9f8cc; // rbga(249,248,204,1)
$ink: #282828; // rbga(40,40,40,1)
$black: #000000;
$white: #ffffff;

$menu1: #333426;
$menu2: #4d4c38;
$menu3: #727152;
$menu4: #a6a47b;
$menu5: #c8c797;

$green: #9e9e48;
$lighterGreen: #c5c67a;


html {
  height: 100%;
}

body {
  font-family: Garamond, serif;
  color: $black;
  background-color: $linen;
  min-height: 100%;
}

main {
  min-height: 100%;
}

a {
  text-decoration:none;
  color: $white;
}

a:hover {
  color: $ink;
  cursor: pointer;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 0.95em;
  padding: 0.5em 0;
}