header{
  border-top:.5em solid black;
  border-left:.5em solid black;
  border-right:.5em solid black;
}
#container{
  height:850px;
  width:100%;
}
#masthead{
  width:75px;
  margin:0 auto;
  padding:1em 0;
}
  #masthead img{
    width:75px;
  }
div.inverted-border{
  background: #f9f8cc;
  background-color: #E7E4B1;
  position:absolute;
  top:0;
  bottom:0;
  width:.5em;
  z-index:100;
}
div.inverted-border.left{
  left:.5em;
}
div.inverted-border.right{
  right:.5em;
}