nav{
  width: -moz-calc(100% + 1em);
  width: -webkit-calc(100% + 1em);
  width: calc(100% + 1em);
  margin:0 0 0 -.5em;
  position:relative;
  height:420px;
  background:black;
}
  div#first-top-border-green{
    height: .5em;
    background-color: #c5c67a;
    width:100%;
  }
  div#second-top-border-green{
    height: .5em;
    background-color: #9e9d4a;
    width:100%;
  }
  nav ul#static-wrapper{
    position:relative;
    width:100%;
    height:400px;
    background:black;
  }
  li.menu-item{
    width:100%;
    height:34px;
    -webkit-transition: height 300ms ease-in-out;
    -moz-transition: height 300ms ease-in-out;
    -ms-transition: height 300ms ease-in-out;
    -o-transition: height 300ms ease-in-out;
    transition: height 300ms ease-in-out;
    overflow:hidden;
  }
    li.menu-item > a{
      font-family:'MarketDeco';
      font-weight:100;
      display:block;
      clear:both;
      width:100%;
      line-height:34px;
      text-align:center;
      font-size:16px;
      letter-spacing: 2.5px;
    }
      li.menu-item:hover > a{
        color:#9E9D4A;
        color:#f9f9e0;
      }
      .menu-item > .pull-down{
        height:0px;
        opacity:0;
        padding:0 10%;
        overflow:hidden;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;

        -webkit-transition: opacity 200ms ease-in-out;
        -moz-transition: opacity 200ms ease-in-out;
        -ms-transition: opacity 200ms ease-in-out;
        -o-transition: opacity 200ms ease-in-out;
        transition: opacity 200ms ease-in-out;
      }
        .pull-down p{
          letter-spacing:1px;
          text-align: justify;
          font-size:1.1em;
          padding-bottom:.5em;
        }
        .pull-down h4 {
          font-weight:100;
          font-size:0.9em;}

        .pull-down a {
          font-weight:bold;}

        .pull-down a:hover {
          opacity:.6; }

        @media screen and (max-width: 800px){
          .pull-down p{
            font-size: .9em;
          }
        }
        @media screen and (max-width: 600px){
          .pull-down p{
            font-size: .8em;
          }
        }
          .pull-down p span{
            display:inline-block;
            height:1.5em;
            line-height: 1.5em;
            padding:0;
          }
            .pull-down p span.date{
              width:70px;
            }
            .pull-down p span.dash{
              width:20px;
              text-align:center;
            }
            .pull-down p span.event{
              width:200px;
            }
            .pull-down p span.time{
              width:20px;
              text-align:center;
            }
            .pull-down p span.fee{
              width:150px;
            }
            .pull-down p span.market {
              font-family: 'MarketDeco';
              font-size:0.8em;
            }
      .menu-item.active{
        height:340px;
      }
        .menu-item,
        .menu-item > a {
          display:block;
          -webkit-transition: all 300ms ease-in-out;
          -moz-transition: all 300ms ease-in-out;
          -ms-transition: all 300ms ease-in-out;
          -o-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
        }
        .menu-item.supress{
          height:1em;
        }
        .menu-item.supress > a {
          opacity:0;
          /*display:none;*/
          height:0;
          cursor: default;
        }
      .menu-item.active > .pull-down{
        height:290px;
        opacity:1;
      }

      /* font color for menu sections */
      .menu-item.primary > .pull-down,
      .menu-item.secondary > .pull-down,
      .menu-item.tertiary > .pull-down,
      .menu-item:nth-child(1) > .pull-down,
      .menu-item:nth-child(2) > .pull-down,
      .menu-item:nth-child(3) > .pull-down{
        color:#f9f8cc;
      }
      .menu-item.qaternary > .pull-down,
      .menu-item.quinary > .pull-down,
      .menu-item:nth-child(4) > .pull-down,
      .menu-item:nth-child(5) > .pull-down{
        color:#333426;
      }
      
      #login{
        margin:0 auto;
        text-align:center;
      }
        #login a{
          font-family: 'Lucida Grand', sans-serif;
          display:block;
          padding:1em;
          font-size:.9em;
        }
      .pull-down input[type="text"],
      .pull-down input[type="password"]{
        border:0;
        width:15em;
        margin:1em 2em;
        background:transparent;
        border-bottom:1px solid #4D4C38;
        color:#4D4C38;
        text-align: center;
      }
      
      .pull-down button{
        background: #9E9D4A;
        border:0;
        color:#f9f8cc;
        margin:2em 0 0 0;
        padding:.75em 3em;
        letter-spacing: 1px;
        font-weight:normal;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
        cursor:pointer;
      }
        .pull-down button:hover{
          color:white;
          background-color: #919042;
         }
        .pull-down button:active{
          color:white;
          background-color: red;
        }

      

  li.menu-item.primary,
  li.menu-item:nth-child(1){
    background: #333426;
  }
  li.menu-item.secondary,
  li.menu-item:nth-child(2){
    background: #4d4c38;
  }
  li.menu-item.tertiary,
  li.menu-item:nth-child(3){
    background: #727152;
  }
  li.menu-item.qaternary,
  li.menu-item:nth-child(4){
    background: #a6a47b;
  }
  li.menu-item.quinary,
  li.menu-item:nth-child(5){
    background: #c8c797;
    background: #c4c293;
  }