@font-face {
  font-family: 'MarketDeco';
  src: url(/fonts/Market_Deco.ttf); }

body {
  font-family: Garamond, serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal;
  color: #000000;
  /*background-color: #f9f8cc;*/
  background-color: #E7E4B1;
  margin: 0; }

a {
  text-decoration: none;
  color: #f8f8cb; }

a.dark {
  color: #333426; }

a.dark:hover {
  color: #727152; }

a:hover {
  cursor: pointer; }

h1, h2, h3 {
  text-align: center;
  font-weight: normal;
  margin: 0; }

h1 {
  font-size: 2.5em; }

p {
  font-size: 1em;
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  border: 0;
  padding: 0; }

ul.inline {
  width: 100%; }

ul.inline li {
  display: inline-block; }

ul.button li {
  border: 1px solid #c9c695;
  padding: 0.25em 1em; }

div {
  margin: 0;
  border: 0;
  padding: 0; }

div#centering-wrapper {
  margin: 1em auto 0 auto;
  width: 90%;
  max-width: 800px;
  height: 900px;
  position: relative; }

div {
  position: relative; }

textarea {
  resize: vertical; }

main {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border: 0;
  border-left: 0.5em solid black;
  border-right: 0.5em solid black;
  padding: 5em 1em;
  min-height: 300px; }

main a {
  color: #727152; }

main a:hover {
  color: #4D4C38; }

header {
  border-top: 0.5em solid black;
  border-left: 0.5em solid black;
  border-right: 0.5em solid black;
  position: relative; }

#container {
  height: 850px;
  width: 100%; }

#masthead {
  width: 75px;
  margin: 0 auto;
  padding: 1em 0; }

#masthead img {
  width: 75px; }

div.inverted-border {
  background: #f9f8cc;
  background-color: #E7E4B1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.5em;
  z-index: 100; }

div.inverted-border.left {
  left: 0.5em; }

div.inverted-border.right {
  right: 0.5em; }

footer {
  width: -moz-calc(100% + 1em);
  width: -webkit-calc(100% + 1em);
  width: calc(100% + 1em);
  margin: 0 0 0 -0.5em;
  position: relative;
  bottom: 0; }

footer div.wide-item {
  width: 100%;
  height: 0.5em; }

footer > div#black-bottom {
  height: auto; }

div#black-bottom > div.wide-item:nth-child(odd) {
  background: black; }

div#black-bottom > div.wide-item:nth-child(even) {
  /*background:#f9f8cc;*/
  background-color: #E7E4B1;
  height: 0.25em; }

div#black-bottom > div.wide-item:first-child {
  height: 40px; }

div#black-bottom > div.wide-item.coda {
  text-align: center;
  height: 0.5em;
  background: black; }

div.narrow-item {
  width: -moz-calc(100% - 1em);
  width: -webkit-calc(100% - 1em);
  width: calc(100% - 1em);
  margin: 0 auto;
  background: black;
  height: 1em; }

div.narrower-item {
  width: -moz-calc(100% - 10em);
  width: -webkit-calc(100% - 10em);
  width: calc(100% - 10em);
  margin: 0 auto;
  background: black;
  height: 0.5em; }

footer address {
  clear: both;
  font-family: 'MarketDeco';
  font-style: normal;
  text-align: center;
  line-height: 2em;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

address p {
  padding: 1.5em 0; }

nav {
  width: -moz-calc(100% + 1em);
  width: -webkit-calc(100% + 1em);
  width: calc(100% + 1em);
  margin: 0 0 0 -0.5em;
  position: relative;
  height: 420px;
  background: black; }

div#first-top-border-green {
  height: 0.5em;
  background-color: #c5c67a;
  width: 100%; }

div#second-top-border-green {
  height: 0.5em;
  background-color: #9e9d4a;
  width: 100%; }

nav ul#static-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  background: black; }

li.menu-item {
  width: 100%;
  height: 34px;
  -webkit-transition: height 300ms ease-in-out;
  -moz-transition: height 300ms ease-in-out;
  -ms-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
  overflow: hidden; }

li.menu-item > a {
  font-family: 'MarketDeco';
  font-weight: 100;
  display: block;
  clear: both;
  width: 100%;
  line-height: 34px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2.5px; }

li.menu-item:hover > a {
  color: #9E9D4A;
  color: #f9f9e0; }

.menu-item > .pull-down {
  height: 0px;
  opacity: 0;
  padding: 0 10%;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out; }

.pull-down p {
  letter-spacing: 1px;
  text-align: justify;
  font-size: 1.1em;
  padding-bottom: 0.5em; }

.pull-down h4 {
  font-weight: 100;
  font-size: 0.9em; }

.pull-down a {
  font-weight: bold; }

.pull-down a:hover {
  opacity: 0.6; }

@media screen and (max-width: 800px) {
  .pull-down p {
    font-size: 0.9em; }
 }

@media screen and (max-width: 600px) {
  .pull-down p {
    font-size: 0.8em; }
 }

.pull-down p span {
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0; }

.pull-down p span.date {
  width: 70px; }

.pull-down p span.dash {
  width: 20px;
  text-align: center; }

.pull-down p span.event {
  width: 200px; }

.pull-down p span.time {
  width: 20px;
  text-align: center; }

.pull-down p span.fee {
  width: 150px; }

.menu-item.active {
  height: 340px; }

.menu-item, .menu-item > a {
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.menu-item.supress {
  height: 1em; }

.menu-item.supress > a {
  opacity: 0;
  /*display:none;*/
  height: 0;
  cursor: default; }

.menu-item.active > .pull-down {
  height: 290px;
  opacity: 1; }

/* font color for menu sections */
.menu-item.primary > .pull-down, .menu-item.secondary > .pull-down, .menu-item.tertiary > .pull-down, .menu-item:nth-child(1) > .pull-down, .menu-item:nth-child(2) > .pull-down, .menu-item:nth-child(3) > .pull-down {
  color: #f9f8cc; }

.menu-item.qaternary > .pull-down, .menu-item.quinary > .pull-down, .menu-item:nth-child(4) > .pull-down, .menu-item:nth-child(5) > .pull-down {
  color: #333426; }

#login {
  margin: 0 auto;
  text-align: center; }

#login a {
  font-family: 'Lucida Grand', sans-serif;
  display: block;
  padding: 1em;
  font-size: 0.9em; }

.pull-down input[type="text"], .pull-down input[type="password"] {
  border: 0;
  width: 15em;
  margin: 1em 2em;
  background: transparent;
  border-bottom: 1px solid #4D4C38;
  color: #4D4C38;
  text-align: center; }

.pull-down button {
  background: #9E9D4A;
  border: 0;
  color: #f9f8cc;
  margin: 2em 0 0 0;
  padding: 0.75em 3em;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  cursor: pointer; }

.pull-down button:hover {
  color: white;
  background-color: #919042; }

.pull-down button:active {
  color: white;
  background-color: red; }

li.menu-item.primary, li.menu-item:nth-child(1) {
  background: #333426; }

li.menu-item.secondary, li.menu-item:nth-child(2) {
  background: #4d4c38; }

li.menu-item.tertiary, li.menu-item:nth-child(3) {
  background: #727152; }

li.menu-item.qaternary, li.menu-item:nth-child(4) {
  background: #a6a47b; }

li.menu-item.quinary, li.menu-item:nth-child(5) {
  background: #c8c797;
  background: #c4c293; }

nav.dtosaua {
  width: -moz-calc(100% + 1em);
  width: -webkit-calc(100% + 1em);
  width: calc(100% + 1em);
  margin: 0 0 0 -0.5em;
  position: relative;
  height: auto; }

#dtosaua-nav {
  width: 100%;
  text-align: center; }

#dtosaua-nav ul {
  width: 100%;
  background: #cccc99; }

#dtosaua-nav ul li {
  display: inline-block; }

#dtosaua-nav ul li a {
  padding: 0 1em;
  line-height: 34px;
  font-family: 'MarketDeco';
  font-weight: 100;
  display: block;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2.5px; }

#dtosaua-nav ul li a:hover, #dtosaua-nav ul li a.active {
  -webkit-transition: 200ms ease-in-out color;
  transition: 200ms ease-in-out color;
  color: white; }

#dtosaua-nav ul li:first-child a {
  padding-left: 2em; }

#dtosaua-nav ul li:last-child a {
  padding-right: 2em; }

#dtosaua-nav ul.sub-menu {
  z-index: 10;
  position: absolute;
  width: 100%; }

#dtosaua-nav ul.sub-menu > div.sub-menu-container {
  background: #727152;
  width: 100%; }

/* transitions */
ul.sub-menu div.ng-enter {
  -webkit-transition: 200ms ease-in-out all;
  transition: 200ms ease-in-out all;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms; }

ul.sub-menu div.ng-leave {
  -webkit-transition: 200ms ease-in-out all;
  transition: 200ms ease-in-out all; }

ul.sub-menu div.ng-enter, ul.sub-menu div.ng-leave.ng-leave-active {
  height: 0; }

ul.sub-menu div.ng-enter a, ul.sub-menu div.ng-leave.ng-leave-active a {
  opacity: 1; }

ul.sub-menu div.ng-leave, ul.sub-menu div.ng-enter.ng-enter-active {
  height: 34px; }

ul.sub-menu div.ng-leave a, ul.sub-menu div.ng-enter.ng-enter-active a {
  opacity: 0; }

/* Page Transitions */
.section-content.ng-enter {
  -webkit-transition: 200ms ease-in-out all;
  transition: 200ms ease-in-out all;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms; }

.section-content.ng-enter, .section-content.ng-leave.ng-leave-active {
  opacity: 0; }

.section-content.ng-leave, .section-content.ng-enter.ng-enter-active {
  opacity: 1; }

.section-content h3 {
  font-family: 'MarketDeco', sans-serif;
  font-size: 16px;
  font-weight: 100; }

nav.admin-nav {
  width: -moz-calc(100% + 1em);
  width: -webkit-calc(100% + 1em);
  width: calc(100% + 1em);
  margin: 0 0 0 -0.5em;
  position: relative;
  height: auto; }

.admin-nav {
  width: 100%;
  text-align: center; }

.admin-nav ul {
  width: 100%;
  background: #cccc99; }

.admin-nav ul li {
  display: inline-block; }

.admin-nav ul li a {
  padding: 0 1em;
  line-height: 34px;
  font-family: 'MarketDeco';
  font-weight: 100;
  display: block;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2.5px; }

.admin-nav ul li a:hover, .admin-nav ul li a.active {
  -webkit-transition: 200ms ease-in-out color;
  transition: 200ms ease-in-out color;
  color: white; }

.admin-nav ul li:first-child a {
  padding-left: 2em; }

.admin-nav ul li:last-child a {
  padding-right: 2em; }

.admin-nav ul.sub-menu {
  z-index: 10;
  position: absolute;
  width: 100%; }

.admin-nav ul.sub-menu > div.sub-menu-container {
  background: #727152;
  width: 100%; }

/* transitions */
ul.sub-menu div.ng-enter {
  -webkit-transition: 200ms ease-in-out all;
  transition: 200ms ease-in-out all;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms; }

ul.sub-menu div.ng-leave {
  -webkit-transition: 200ms ease-in-out all;
  transition: 200ms ease-in-out all; }

ul.sub-menu div.ng-enter, ul.sub-menu div.ng-leave.ng-leave-active {
  height: 0; }

ul.sub-menu div.ng-enter a, ul.sub-menu div.ng-leave.ng-leave-active a {
  opacity: 1; }

ul.sub-menu div.ng-leave, ul.sub-menu div.ng-enter.ng-enter-active {
  height: 34px; }

ul.sub-menu div.ng-leave a, ul.sub-menu div.ng-enter.ng-enter-active a {
  opacity: 0; }

/* layout */
main.admin {
  padding: 1em; }

.admin section {
  padding: 2em 0; }

.admin div.divider {
  width: -moz-calc(100% + 4em);
  width: -webkit-calc(100% + 4em);
  width: calc(100% + 4em);
  margin: 0 0 0 -2em;
  position: relative;
  height: auto; }

.admin p.divider {
  text-align: center;
  padding: 2em 0; }

.admin .instructions p {
  font-size: 0.95em;
  padding: 0.5em 0; }

/* header style */
.admin h2, h3, h4 {
  font-family: 'MarketDeco';
  text-align: left; }

.admin h3 {
  padding: 0 0 0.5em 0; }

.admin h3 span {
  font-weight: 400; }

.admin h4 {
  margin: 0;
  padding: 0.5em 0; }

.admin h4.item-form {
  /*padding-top:4em;*/ }

/* form style */
.admin label {
  display: block;
  padding: 0.4em 0;
  font-size: 0.95em;
  color: #333426; }

.admin input[type="text"], .admin textarea {
  border: 1px solid #c9c695;
  background-color: transparent;
  color: #111;
  line-height: 1.25em;
  padding: 0.25em;
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal;
  width: 100%;
  box-sizing: border-box; }

.admin input[type="submit"], .admin button {
  border: none;
  background-color: #c9c695;
  color: #222;
  line-height: 1.25em;
  padding: 0.4em 1em;
  margin: 0.4em 0.2em 0 0;
  font-size: 0.8em;
  text-transform: uppercase;
  font-family: 'MarketDeco';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal; }

.admin input[type="submit"]:hover, .admin button:hover {
  transition: all 200ms ease-in;
  background-color: #b2af84; }

.admin button.check-box {
  background-color: transparent;
  padding: 0.4em 0;
  margin: 0;
  width: 1.2em;
  height: 1.65em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center; }

.admin a.check-box {
  color: #222;
  display: block;
  height: 1.65em;
  text-indent: 2em;
  margin: 0.25em 0;
  line-height: 1.8em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left; }

.check-box.enabled {
  background-image: url(/images/checkbox-enabled.png); }

.check-box.disabled {
  background-image: url(/images/checkbox-disabled.png); }

.admin a.dark {
  font-size: 0.8em;
  text-transform: uppercase;
  font-family: 'MarketDeco';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal;
  color: #727152; }

/*  .admin a.dark:hover{
    color:#000;}*/
.admin a.dark.active {
  color: #000; }

.admin ul.section-heading {
  margin-bottom: 1em; }

.admin ul.section-heading li {
  margin: 0 0.3em 0 0; }

.admin ul.section-heading li.active {
  border-color: #222; }

.admin ul.section-heading li.active a {
  color: #222; }

.admin ul.item-actions {
  text-align: left; }

.admin ul.item-actions li {
  display: inline-block; }

.admin ul.item-actions li:last-child button {
  margin-right: 0; }

.admin ul.subsection-handles {
  margin-top: 1em; }

.admin ul.subsection-handles li a {
  padding: 0.25em; }

.admin div.edit-subsection {
  border-left: 0.5em solid #727152;
  padding-left: 1em;
  padding-bottom: 1em;
  margin: 1em 0; }

.admin div.section-content {
  border-top: 1px solid #C9C695;
  padding-top: 1em; }

.admin div.user {
  border-left: 0.5em solid #727152;
  padding: 0 0 0 1em;
  margin: 1em 0;
  clear: both; }

.admin div.user div.contact-info {
  width: 50%;
  max-width: 320px;
  min-width: 200px;
  padding: 0 1em 0 0;
  float: left; }

.admin div.user div.membership-info {
  width: 50%;
  max-width: 320px;
  min-width: 200px;
  padding: 0 1em 0 0;
  float: left; }
