<form name="newuserform" data-ng-show="user.create">

  <input 
    type="text" 
    data-ng-model="user.newEmail" 
    placeholder="Email"
    required />

  <input 
    type="password" 
    data-ng-model="user.newPassword" 
    placeholder="Password"
    required />

  <input 
    type="password" 
    data-ng-model="user.passwordConfirmation" 
    placeholder="Confirm Password"
    required />

  <br/>

  <button data-ng-disabled="newuserform.$invalid" data-ng-click="createUser()">
    Create New User
  </button>

</form>