<h3><span>CMS </span> Front Page Content</h3>

<div class="selector">
  <h4>Choose A Section to Edit</h4>
  <li class="menu-item" data-ng-repeat="item in frontpage.items">
    <a data-ng-click="select(item.title)">{{ item.title }}</a>
  </li>
</div>

<div data-ng-repeat="item in frontpage.items" data-ng-show="item.active">
  <h4 class="item-form">
    {{ mapNumeral($index) }}: "{{ item.title }}"
  </h4>
  <div class="frontpage-item-wrapper">
    <ul class="item-actions">
      <li><button data-ng-click="frontpage.update($index)">Update</button></li>
      <li><button data-ng-click="frontpage.delete($index)">Destroy</button></li>
      <li>|</li>
      <li><button data-ng-click="moveUp(item._id)">up</button></li>
      <li><button data-ng-click="moveDown(item._id)">down</button></li>
      <li>|</li>
      <li>
        <a data-ng-click="item.enable = !item.enable" class="dark">
          {{ item.enable ? 'Enabled' : 'Disabled'}}
        </a>
      </li>
    </ul>
    
    <form data-ng-submit="frontpage.update($index)">
      <input type="hidden" value="{{ item._id }}" data-ng-model="item.id"/>
      <input data-ng-model="item.enable" type="hidden" />
      <label>Title</label>
      <input type="text" value="{{ item.title }}" data-ng-model="item.title"/>
      <label>Content</label>
      <textarea name="content" data-ng-model="item.content" rows="3">
        {{ item.content }}
      </textarea>
    </form>

    <div class="preview">
      <li class="menu-item active {{ mapNumeral($index) }}">
        <a>{{ item.title }}</a>
        <div class="pull-down active" 
          data-ng-bind-html="item.content">
        </div>
      </li>
    </div>
  </div>
</div>

<!-- Create a new section -->

<h4 style="padding-top:40px; margin-top:40px; border-top:2px solid black;">
  Create New Section
</h4>

<div class="cms-form-wrapper">
  <form data-ng-submit="frontpage.create()">
    <label>Title</label>
    <input  data-ng-model="frontpage.newItem.title" type="text" />
    <label>Content</label>
    <textarea data-ng-model="frontpage.newItem.content"></textarea>
    <input type="submit" value="Create" />
  </form>
</div>