<nav class="admin-nav">

  <div id="first-top-border-green"></div>
  <div id="second-top-border-green"></div>

  <div class="admin-nav">

    <ul>
      <li data-ng-repeat="(key,section) in sections">
        <a data-ng-click="goTo(key)" class="{{ section.active ? 'active' : ''  }}">
          {{ key | uppercase }}
        </a>
      </li>
    </ul>

    <ul class="sub-menu">
      <div data-ng-repeat="(key,section) in sections" data-ng-if="section.active" 
        class="sub-menu-container">
        <li data-ng-repeat="(subkey,subitem) in section.subitems">
          <a data-ng-click="goTo(key, subkey)" class="{{ subitem.active ? 'active' : ''  }}">
            {{ subkey | uppercase }}
          </a>
        </li>
      </div>
      <inverted-border></inverted-border>
    </ul>

  </div>
  <inverted-border></inverted-border>
</nav>

<main class="admin">

  <section data-ng-show="sections.cms.active">
    <frontpage-cms
      data-ng-show="sections.cms.subitems.frontpage.active">
    </frontpage-cms>
    <div data-ng-show="sections.cms.subitems.internal.active">
      <p>Internal Content</p>
    </div>
  </section>
  
  <section data-ng-show="sections.events.active">
    <h3>Events</h3>
    <p>Manage upcoming events.</p>
  </section>

  <section data-ng-show="sections.users.active">
    <user-management 
      data-ng-show="sections.users.subitems.rolls.active">
    </user-management>
    <div data-ng-show="sections.users.subitems.invite.active">
      <p>Invite a user</p>
    </div>
  </section>

</main>