<nav class="admin-nav">

  <div id="first-top-border-green"></div>
  <div id="second-top-border-green"></div>

  <div class="admin-nav">

    <ul>
      <li data-ng-repeat="(key,section) in sections">
        <a data-ng-click="goTo(key)" class="{{ section.active ? 'active' : ''  }}">
          {{ key | uppercase }}
        </a>
      </li>
    </ul>

    <ul class="sub-menu">
      <div data-ng-repeat="(key,section) in sections" data-ng-if="section.active" 
        class="sub-menu-container">
        <li data-ng-repeat="(subkey,subitem) in section.subitems">
          <a data-ng-click="goTo(key, subkey)" class="{{ subitem.active ? 'active' : ''  }}">
            {{ subkey | uppercase }}
          </a>
        </li>
      </div>
      <inverted-border></inverted-border>
    </ul>

  </div>
  <inverted-border></inverted-border>
</nav>

<main class="admin">

  <!-- CMS -->
  <section data-ng-show="sections.content.active">
    <frontpage-cms data-ng-show="sections.content.subitems.frontpage.active"></frontpage-cms>
    <dtosaua-cms div data-ng-show="sections.content.subitems.dtosaua.active"></dtosaua-cms>
  </section>
  
  <!-- Events -->
  <section data-ng-show="sections.events.active">
    <h3>Events</h3>
    <p>Manage upcoming events.</p>
  </section>

  <!-- Users -->
  <section data-ng-show="sections.users.active">
    <!-- User Management -->
    <user-management data-ng-show="sections.users.subitems.rolls.active"></user-management>

    <!-- Invite a User 
      TODO: Make this a directive
        args: name, email, invite-type, message-override
          save email with token in whitelist or preemptively create user
      -->
    <div data-ng-show="sections.users.subitems.invite.active">
      <p>Invite a user</p>
    </div>
  </section>

  <!-- Libarary Catalogue -->
  <section data-ng-show="sections.library.active">

    <div data-ng-show="sections.library.requests">
      <p>Manage Requests for New Material</p>
    </div>
    
    <div data-ng-show="sections.library.catalogue">
      <p>CMS for Library Catalogue</p>
    </div>

  </section>

</main>