<nav class="admin-nav">

  <div id="first-top-border-green"></div>
  <div id="second-top-border-green"></div>

  <ul>
    <li><a data-ng-click="goTo('cms')">Content</a></li>
    <li><a data-ng-click="goTo('events')">Events</a></li>
    <li><a data-ng-click="goTo('users')">Users</a></li>
  </ul>

  <div class="inverted-border left"></div>
  <div class="inverted-border right"></div>

</nav>

<main class="admin">

  <section data-ng-show="sections.cms">
    <content-management></content-management>
  </section>
  
  <section data-ng-show="sections.events">
    <h3>Events</h3>
    <p>Under construction.</p>
  </section>

  <section data-ng-show="sections.users">
    <user-management></user-management>
  </section>
  

</main>