<nav class="dtosaua">

  <div id="first-top-border-green"></div>
  <div id="second-top-border-green"></div>

  <div id="dtosaua-nav">

    <ul>
      <li data-ng-repeat="section in dtosauaContent.sections">
        <a data-ng-click="goTo(section.title)" class="{{ section.active ? 'active' : ''  }}">{{ section.title }}</a>
      </li>
    </ul>

    <ul class="sub-menu">
      <div class="sub-menu-container"
        data-ng-repeat="section in dtosauaContent.sections"
        data-ng-if="section.active">
        <li data-ng-repeat="item in section.items">
          <a data-ng-click="goTo(section.title, item.subtitle)" 
            class="{{ item.active ? 'active' : ''  }}">
            {{ item.subtitle }}
          </a>
        </li>
      </div>
      <div class="inverted-border left"></div>
      <div class="inverted-border right"></div>
    </ul>

  </div>
  
  <div class="inverted-border left"></div>
  <div class="inverted-border right"></div>

</nav>

<main>
  
  <div data-ng-repeat="section in dtosauaContent.sections" data-ng-if="section.active">
    <div data-ng-repeat="item in section.items" data-ng-if="item.active" class="section-content">
      <div data-ng-bind-html="item.content"></div>
    </div>
  </div>

</main>