<nav class="dtosaua">

  <div id="first-top-border-green"></div>
  <div id="second-top-border-green"></div>

  <div id="dtosaua-nav">

    <ul class="">
      <li data-ng-repeat="item in menu.items">
        <a data-ng-click="select(item.name)">{{ item.name }}</a>
      </li>
    </ul>

    <ul class="sub-menu">
      <div data-ng-repeat="item in menu.items" data-ng-if="item.active" class="sub-menu-container">
          <li data-ng-repeat="subitem in item.submenu">
            <a data-ng-click="getPage(item.name, subitem.name)" data-ng-if="item.active">{{ subitem.name }}</a>
          </li>
      </div>
      <div class="inverted-border left"></div>
      <div class="inverted-border right"></div>
    </ul>

  </div>      
  
  <div class="inverted-border left"></div>
  <div class="inverted-border right"></div>

</nav>

<main>
  
  <div data-ng-repeat="item in menu.items" data-ng-if="item.active">
    <div data-ng-repeat="subitem in item.submenu" data-ng-if="subitem.active">
      <div data-ng-bind-html="subitem.content"></div>
    </div>
  </div>

</main>


