<main>
  <header>
    <h1>P</h1>
    <div id="placeholder"></div>
    <h1>H</h1>
  </header>

  <nav>
  
    <div id="first-top-border-green"></div>
    <div id="second-top-border-green"></div>

    <div class="menu-item primary">
      <a href="">About</a>
      <div class="pull-down">
        <p>The forgotten scratching of his pen became conspicuously absent, just as the door of the pavilion was plicked open button by steel button.  The sound reeled Aaron in, and while the fungible world re-instantiated itself around him with elastic reluctance, three figures ducked into the pavilion through its draped canvas door, as different from one another as slings and arrows.</p>
      </div>
    </div>

    <div class="menu-item secondary">
      <a href="">Public Events Calendar</a>
      <div class="pull-down">
        <p>The forgotten scratching of his pen became conspicuously absent, just as the door of the pavilion was plicked open button by steel button.  The sound reeled Aaron in, and while the fungible world re-instantiated itself around him with elastic reluctance, three figures ducked into the pavilion through its draped canvas door, as different from one another as slings and arrows.</p>
      </div>
    </div>

    <div class="menu-item tertiary">
      <a href="">Inquiries</a>
      <div class="pull-down">
        <p>The forgotten scratching of his pen became conspicuously absent, just as the door of the pavilion was plicked open button by steel button.  The sound reeled Aaron in, and while the fungible world re-instantiated itself around him with elastic reluctance, three figures ducked into the pavilion through its draped canvas door, as different from one another as slings and arrows.</p>
      </div>
    </div>

    <div class="menu-item qaternary">
      <a href="">Articles &amp; Submissions</a>
      <div class="pull-down">
        <p>The forgotten scratching of his pen became conspicuously absent, just as the door of the pavilion was plicked open button by steel button.  The sound reeled Aaron in, and while the fungible world re-instantiated itself around him with elastic reluctance, three figures ducked into the pavilion through its draped canvas door, as different from one another as slings and arrows.</p>
      </div>
    </div>

    <div class="menu-item quinary">
      <a href="">Fellows</a>
      <div class="pull-down">
        <p>The forgotten scratching of his pen became conspicuously absent, just as the door of the pavilion was plicked open button by steel button.  The sound reeled Aaron in, and while the fungible world re-instantiated itself around him with elastic reluctance, three figures ducked into the pavilion through its draped canvas door, as different from one another as slings and arrows.</p>
      </div>
    </div>

    <div id="black-bottom">
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item coda">
        <a>DTOSAUA</a>
      </div>
    </div>

    <div class="inverted-border" id="left-inverted-border"></div>
    <div class="inverted-border" id="right-inverted-border"></div>
  </nav>

  <footer>
    
  </footer>
</main>
