  <nav>
  
    <div id="first-top-border-green"></div>
    <div id="second-top-border-green"></div>

    <ul id="static-wrapper">

      <!-- repeat over cms-defined sections -->

      <li class="menu-item"
        data-ng-repeat="item in frontpage.items" 
        on-finish-render>
        <a>{{ item.title }}</a>
        <div class="pull-down" data-ng-bind-html="item.content"></div>
      </li>

      <!-- calendar -->

      <li class="menu-item quaternary">
        <a>Public Events</a>
        <div class="pull-down">
          <p>Cal Directive (forthcoming...)</p>
        </div>
      </li>

      <!-- login -->

      <li class="menu-item quinary">
        <div class="pull-down">
          <div id="login">
            <signin-directive></signin-directive>
          </div>
        </div>
      </li>

    </ul><!-- end #static-wrapper -->


    <div class="inverted-border left"></div>
    <div class="inverted-border right"></div>

  </nav>

