<main>
  <header>

    <div id="placeholder">
      <img src="images/stairs.jpg" alt=""/>
    </div>

  </header>

  <nav>
  
    <div id="first-top-border-green"></div>
    <div id="second-top-border-green"></div>

    <ul id="static-wrapper">
      <li class="menu-item primary">
        <a href="">Purlieu Hall</a>
        <div class="pull-down">
          <p>The forgotten scratching of his pen became conspicuously absent, just as the door of the pavilion was plicked open button by steel button.  The sound reeled Aaron in, and while the fungible world re-instantiated itself around him with elastic reluctance, three figures ducked into the pavilion through its draped canvas door, as different from one another as slings and arrows.</p>
        </div>
      </li>

      <li class="menu-item secondary">
        <a href="">Public Events Calendar</a>
        <div class="pull-down table">
          <p>
            <div>
              <span class="date">11.22.14</span>
              <span class="dash">-</span>
              <span class="time">7p</span>
              <span class="dash">-</span>
              <span class="event">Country Dave Harmanson</span>
              <span class="dash">-</span>
              <span class="fee">Donations Accepted</span>
            </div>
          </p>
          <p>
            <div>
              <span class="date">11.22.14</span>
              <span class="dash">-</span>
              <span class="time">7p</span>
              <span class="dash">-</span>
              <span class="event">Country Dave Harmanson</span>
              <span class="dash">-</span>
              <span class="fee">Donations Accepted</span>
            </div>
          </p>
        </div>
      </li>

      <li class="menu-item tertiary">
        <a href="">Inquiries</a>
        <div class="pull-down">
          <p>The forgotten scratching of his pen became conspicuously absent, just as the door of the pavilion was plicked open button by steel button.  The sound reeled Aaron in, and while the fungible world re-instantiated itself around him with elastic reluctance, three figures ducked into the pavilion through its draped canvas door, as different from one another as slings and arrows.</p>
        </div>
      </li>

      <li class="menu-item qaternary">
        <a href="">Articles &amp; Submissions</a>
        <div class="pull-down">
          <p>The forgotten scratching of his pen became conspicuously absent, just as the door of the pavilion was plicked open button by steel button.  The sound reeled Aaron in, and while the fungible world re-instantiated itself around him with elastic reluctance, three figures ducked into the pavilion through its draped canvas door, as different from one another as slings and arrows.</p>
        </div>
      </li>

      <li class="menu-item quinary">
        <a>Fellows</a>
        <div class="pull-down">
          <login-controls></login-controls>
        </div>
      </li>

    </ul><!-- end #static-wrapper -->

   

    <div class="inverted-border left"></div>
    <div class="inverted-border right"></div>

  </nav>

  <footer>

    <div id="black-bottom">
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item coda">
        <div class="narrow-item"></div>
        <div class="narrower-item"></div>
      </div>
    </div>

    <address>
      <p>102 S Jackson St Seattle</p>
    </address>

    <div class="inverted-border left"></div>
    <div class="inverted-border right"></div>

  </footer>

</main>
