    <div id="black-bottom">
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item"></div>
        <div class="wide-item"></div>
      <div class="wide-item coda">
        <div class="narrow-item"></div>
        <div class="narrower-item"></div>
      </div>
    </div>

    <address>
      <p>102 S Jackson St Seattle</p>
      <p>
        <a href="/#/dtosaua">DTOSAUA</a>
        <a href="/#/cms">CMS</a> 
        <a href="/#/admin">ADMIN</a>
      </p>
    </address>

    <div class="inverted-border left"></div>
    <div class="inverted-border right"></div>